{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
</head>
{% block title %}{% endblock title %}</title>
</head>

<style>
    body,
    html {
        height: 100%
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Amatic SC", sans-serif
    }

    .menu {
        display: none
    }

    .bgimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../media/pizza.jpg");


        min-height: 90%;
    }
</style>

<body>


    <div class="w3-top w3-hide-small">
        <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
            <a href="#" class="w3-bar-item w3-button">HOME</a>
            <a href="#menu" class="w3-bar-item w3-button">CARDÁPIO</a>
            <a href="#about" class="w3-bar-item w3-button">SOBRE</a>
            <a href="#myMap" class="w3-bar-item w3-button">CONTATO</a>
        </div>
    </div>






    <body class="vsc-initialized">

        <!-- Navbar (sit on top) -->
        <div class="w3-top w3-hide-small">
            <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
                <a href="#" class="w3-bar-item w3-button">HOME</a>
                <a href="#menu" class="w3-bar-item w3-button">CARDÁPIO</a>
                <a href="#about" class="w3-bar-item w3-button">SOBRE</a>
                <a href="#myMap" class="w3-bar-item w3-button">CONTATO</a>
            </div>
        </div>

        <!-- Header with image -->
        <header class="bgimg w3-display-container w3-grayscale-min" id="home">
            <div class="w3-display-bottomleft w3-padding">
                <span class="w3-tag w3-xlarge">Atendimento das 10h às 23h</span>
            </div>
            <div class="w3-display-middle w3-center">
                <span class="w3-text-white w3-hide-small" style="font-size:100px">Peça<br>SUA PIZZA</span>
                <span class="w3-text-white w3-hide-large w3-hide-medium" style="font-size:60px"><b>Peça<br>SUA
                        PIZZA</b></span>
                <p><a href="#menu" class="w3-button w3-xxlarge w3-black">Quero ver o cardápio</a></p>
            </div>
        </header>

        <!-- Menu Container -->
        <div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
            <div class="w3-content">

                <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">O CARDÁPIO</h1>
                <div class="w3-row w3-center w3-border w3-border-dark-grey">
                    <a href="javascript:void(0)" onclick="openMenu(event, 'Pizza');" id="myLink">
                        <div class="w3-col s4 tablink w3-padding-large w3-hover-red w3-red">Pizza</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openMenu(event, 'Pasta');">
                        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Saladas</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
                        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Entradas</div>
                    </a>
                </div>

                <div id="Pizza" class="w3-container menu w3-padding-32 w3-white" style="display: block;">
                    <h1><b>Margherita</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$12.50</span></h1>
                    <p class="w3-text-grey">Tomate, Muçarela, manjericão</p>
                    <hr>

                    <h1><b>Formaggio</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$15.50</span></h1>
                    <p class="w3-text-grey">Quatro queijos (Muçarela, Parmesão, Pecorino, Jarlsberg)</p>
                    <hr>

                    <h1><b>Frango</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$17.00</span></h1>
                    <p class="w3-text-grey">Tomate, Muçarela, Frango, cebola</p>
                    <hr>

                    <h1><b>Abacaxi relógio</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$16.50</span></h1>
                    <p class="w3-text-grey">Tomate, Muçarela, Abacaxi, bacon, manjericão</p>
                    <hr>

                    <h1><b>Carniça</b> <span class="w3-tag w3-red w3-round">Bombando!</span><span
                            class="w3-right w3-tag w3-dark-grey w3-round">R$20.00</span></h1>
                    <p class="w3-text-grey">Tomate, Muçarela, peperoni, linguiça, carne, Frango</p>
                    <hr>

                    <h1><b>Parma</b> <span class="w3-tag w3-grey w3-round">NOVA</span><span
                            class="w3-right w3-tag w3-dark-grey w3-round">R$21.50</span></h1>
                    <p class="w3-text-grey">Tomate, Muçarela, parma, bacon, rúcula</p>
                </div>

                <div id="Pasta" class="w3-container menu w3-padding-32 w3-white" style="display: none;">
                    <h1><b>Lasanha</b> <span class="w3-tag w3-grey w3-round">Popular</span> <span
                            class="w3-right w3-tag w3-dark-grey w3-round">R$13.50</span></h1>
                    <p class="w3-text-grey">Tempero especial, Muçarela, parmesão, carne moída</p>
                    <hr>

                    <h1><b>Ravioli</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$14.50</span></h1>
                    <p class="w3-text-grey">Ravioli filled with cheese</p>
                    <hr>

                    <h1><b>Espaguete</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$11.00</span></h1>
                    <p class="w3-text-grey">Tomate, cebola, carne moída</p>
                    <hr>

                    <h1><b>Massa frutos do mar</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$25.50</span>
                    </h1>
                    <p class="w3-text-grey">Salmão, camarão, lagosta, alho</p>
                </div>


                <div id="Starter" class="w3-container menu w3-padding-32 w3-white" style="display: none;">
                    <h1><b>Prato do dia</b> <span class="w3-tag w3-grey w3-round">Sazonal</span><span
                            class="w3-right w3-tag w3-dark-grey w3-round">R$5.50</span></h1>
                    <p class="w3-text-grey">Peça ao garçom</p>
                    <hr>

                    <h1><b>Brusqueta</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$8.50</span></h1>
                    <p class="w3-text-grey">Pão com pesto, tomate, onion, alho</p>
                    <hr>

                    <h1><b>Pão de alho</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$9.50</span></h1>
                    <p class="w3-text-grey">Grilled ciabatta, manteiga de alho , cebola</p>
                    <hr>

                    <h1><b>ToMuçarela</b> <span class="w3-right w3-tag w3-dark-grey w3-round">R$10.50</span></h1>
                    <p class="w3-text-grey">tomate and Muçarela</p>
                </div><br>

            </div>
        </div>

        <!-- About Container -->
        <div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
            <div class="w3-content">
                <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Sobre nós:</h1>
                <p>Esse restaurante pizzaria foi fundado em blabla por Sr. Italiano in lorem ipsum dolor sit amet,
                    consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p><strong>The Chef?</strong> Mr. Italiano himself<img src="../media/chef.jpg" style="width:150px"
                        class="w3-circle w3-right" alt="Chef"></p>
                <p>Visite nossa cozinha.</p>
                <img src="../media/onepage_restaurant.jpg" style="width:100%" class="w3-margin-top w3-margin-bottom"
                    alt="Restaurant">
                <h1><b>Horário de atendimento Hours</b></h1>

                <div class="w3-row">
                    <div class="w3-col s6">
                        <p>Seg &amp; Tue CLOSED</p>
                        <p>Wednesday 10.00 - 24.00</p>
                        <p>Thursday 10:00 - 24:00</p>
                    </div>
                    <div class="w3-col s6">
                        <p>Friday 10:00 - 12:00</p>
                        <p>Saturday 10:00 - 23:00</p>
                        <p>Sunday Closed</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Image of location/map -->
        <img src="../media/map.jpg" class="w3-image w3-greyscale" style="width:100%;" id="myMap">

        <!-- Contato -->
        <div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge">
            <div class="w3-content">
                <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contato</h1>
                <p>Encontre-nos em nosso endereço ou ligue para 05050515-122330</p>
                <p><span class="w3-tag">DICA!</span> Oferecemos serviço completo de reserva para qualquer evento, grande
                    ou pequeno. Entendemos suas necessidades e atenderemos os alimentos de acordo com os maiores
                    critérios de todos eles, tanto de aparência quanto de sabor.</p>
                <p class="w3-xxlarge"><strong>Reserve</strong> uma mesa, peça o especial de hoje ou envie-nos uma
                    mensagem:</p>
                <form action="/action_page.php" target="_blank">
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Nome" required=""
                            name="Nome"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="Número de pessoas"
                            required="" name="People"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time"
                            required="" name="date" value="2021-10-27T20:00"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Detalhes" required=""
                            name="Message"></p>
                    <p><button class="w3-button w3-light-grey w3-block" type="submit">ENVIAR MENSAGEM</button></p>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
            <!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" -->
            <!-- class="w3-hover-text-green">w3.css</a></p> -->
        </footer>

        <script>
            // Tabbed Menu
            function openMenu(evt, menuName) {
                var i, x, tablinks;
                x = document.getElementsByClassName("menu");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
                }
                document.getElementById(menuName).style.display = "block";
                evt.currentTarget.firstElementChild.className += " w3-red";
            }
            document.getElementById("myLink").click();
        </script>


    </body>



























    {% block body %}

    {% endblock body %}

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
</body>

</html>